/* * * * * * * * * * * * * * * * * * * * * * * * * * Discography Page * * * * * * * * * * * * * * * * * * * * * * * * */

/* Main Content */
main {
    padding-bottom: 20vh;
}
main > h5 {
    font-weight: bold;
}

/* UPDATE */
.album-update {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: auto;
}
.album-img-update {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 2px;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.4);
}
.album-info-update {
    width: 100%;
    height: 300px;
    margin-left: 20px;
}

/* Album Card */
.album {
    position: relative;
    width: 50%;
    max-width: 300px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease;
}
.album:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

/* Album Image */
.album-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

/* Album Info */
.album-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    color: var(--text-light);
    padding: 5%;

    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.album:hover .album-info {
    opacity: 1;
    visibility: visible;
}

/* Album Social Links */
.album-links-nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.album-link {
    margin: 5px;
    padding: 0;
    color: var(--text-light);
    transition: 0.3s ease;
}
.album-link:hover {
    opacity: 0.5;
    color: var(--text-light);
}

/* Misc */
.fa-soundcloud {
    transform: translateX(-5%);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * Responsiveness * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Mobile */
@media screen and (max-width: 767px) {
    nav {
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .album {
        width: 100%;
    }
    .album-info h4 {
        /*font-size: 4vw;*/
        display: none;
    }
    .album-info h5{
        /*font-size: 3vw;*/
        display: none;
    }
    .album-links-nav {
        height: 100%;
        font-size: 6vw;
    }
}
@media screen and (max-width: 410px) {

}

/* Desktop */
@media screen and (min-width: 768px) {
    nav, footer {
        background: transparent;
    }
}